body {
    width: 480px;
    margin: 0 auto;
  }
  
  header, nav, article, footer{
    outline: .5px dotted black;
    background-color: lightgrey;
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    body{
      width: 960px;
    }
  }